<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/bootstrap-4/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/bootstrap-4/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script type="text/javascript" src="/assets/bootstrap-4/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-4/js/bootstrap.min.js"></script>

</head>
<nav class="navbar ">
    <div class="navbar-brand  text-light">
        TodoApp
    </div>
    <div class="navbar-item">
        <a href="/todo" class="btn btn-light btn-sm">
            Home
        </a>
    </div>
</nav>
