body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.wrap{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 75%;
    height: auto;
    justify-content:center;
    transform: translate(15%,0%);
    box-shadow: 0px 0px 205px teal;
}
.app input{
    width: 75%;
    float: left;
}
.app button{
    width: 20%;
    float: right;
}
.wrap ul li:hover{
    opacity: 0.9;
}
